* {
    margin: 0px;
    padding: 0px
}

img {
    border: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-width: 412px;
    width: 985px;
    margin: 0 auto;
    font-family: Tahoma;
    font-size: 13px;
    color: #565656;
    position: relative
}

#header {
    padding: 17px 0 0 47px;
}

#menu {
    float: left;
    width: 985px;
    list-style-type: none;
    padding: 0px;
    margin: 12px 0 12px -47px;
/ margin: - 5 px 0 6 px - 23 px;
}

#menu li, #menu img {
    float: left;
}

#container {
    padding-left: 172px;
    padding-right: 238px;
    height: 100%
}

#container .column {
    position: relative;
    float: left;
}

#center {
    width: 100%;
    position: relative;
/ border-left: 1 px solid white
}

.banner {
    margin: 0 2px 0 1px;
    float: left
}

#content {
    padding: 18px 12px 50px 21px;
    float: left
}

#content p {
    padding: 3px 0 0 5px;
    margin: 0px;
}

.pad25 {
    padding-top: 25px;
}

.stuff {
    margin: 25px 0 0 0;
    float: left;
}

.item {
    width: 270px;
    float: left;
    margin: 0 0 15px 0
}

.item img {
    float: left;
}

.name {
    font-family: Tahoma;
    font-size: 12px;
    color: #4A4A4A;
    text-decoration: underline;
    font-weight: bold;
    margin: 15px 0 0 5px;
    float: left;
}

.item span {
    color: #E27C0E;
    font-weight: bold;
    font-size: 12px;
    display: block;
    width: 140px;
    float: left;
    padding: 7px 0 12px 5px
}

.name:visited, .reg:visited, .more:visited {
    text-decoration: underline
}

.name:hover, .reg:hover, .more:hover {
    text-decoration: none
}

#left {
    width: 172px;
    right: 172px;
    margin-left: -100%;
/ left: 238 px;
}

.block {
    width: 168px;
    border: 1px solid #C5C5C5;
    padding: 1px 1px 14px 1px;
    margin-bottom: 4px;
}

#navigation {
    width: 168px;
    margin: 0px;
    padding: 0px;
}

#navigation li {
    list-style-type: none;
    line-height: 17px;
    padding: 0 0 0 13px;
}

#navigation a {
    color: #565656;
    text-decoration: none
}

.color {
    background-color: #EBEBEB
}

#right {
    width: 238px;
    margin-right: -238px;
}

.rightblock {
    padding: 0 0 0 14px
}

.blocks {
    width: 218px;
    background-image: url(/Template/images/bg.gif);
    background-position: top left;
    background-repeat: repeat-y;
    margin: 0 0 2px 0
}

.line {
    display: block;
    float: left;
    line-height: 19px;
    padding: 5px 0 0 0;
    margin: 0px;
}

.blocks span {
    font-size: 11px;
    font-weight: bold;
    display: block;
    float: left;
    width: 68px;
    text-align: right;
    padding: 0 7px 0 0
}

.blocks input {
    width: 130px;
    height: 17px;
    float: left;
    border-top: 2px inset #808080;
    border-left: 2px inset #808080;
    border-right: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD
}

#news {
    padding: 0 5px 25px 13px;
    float: left;
}

#right .date {
    display: block;
    width: 100px;
    line-height: 19px;
    margin: 11px 0 12px 0;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #272727;
    background-image: url(/Template/images/date.gif);
    background-position: top left;
    background-repeat: no-repeat;
}

#news p {
    display: block;
    float: left;
    width: 195px;
}

.more {
    display: block;
    float: left;
    color: #0283DD;
    text-decoration: underline;
    margin: 15px 0 0 0
}

.reg {
    color: #0283DD;
    text-decoration: underline;
    margin: 0 11px;
}

.center {
    width: 218px;
    text-align: center
}

.pad20 img {
    margin-top: 15px;
}

#footer {
    clear: both;
    border-top: 3px solid #B7C1C4;
    padding: 8px 0 17px 0;
    text-align: center;
    color: #323232
}

#footer a {
    color: #323232;
    text-decoration: none;
    margin: 0 3px;
}

#footer .terms {
    color: #0283DD
}

#footer p {
    padding: 10px 0 0 0
}

#footer #bft {
    color: #8E190B;
    text-decoration: underline;
    margin: 0px
}

#footer #bft:visited {
    text-decoration: underline
}

#footer #bft:hover {
    text-decoration: none
}

.float {
    float: left;
    margin-right: 164px;
}

.topblock1 {
    background-image: url(/Template/images/block1bg.gif);
    background-position: top left;
    background-repeat: no-repeat;
    width: 159px;
    height: 46px;
    padding: 15px 1px 0 30px;
    float: left;
    font-family: Tahoma;
    font-size: 11 xp;
    color: #5B5B5B;
    font-weight: bold
}

.topblock1 select {
    width: 128px;
    height: 17px;
    margin: 1px 0;
    border: 2px inset #CDCDCD;
    font-size: 11px
}

.topblock2 a {
    border: 1px solid #C0D6DE;
    margin: 5px 4px 0 0;
    float: left
}

.topblock2 {
    background-image: url(/Template/images/block2bg.gif);
    background-position: top left;
    background-repeat: no-repeat;
    width: 179px;
    height: 46px;
    padding: 15px 1px 0 24px;
    float: left;
    font-family: Tahoma;
    font-size: 11 xp;
    color: #5B5B5B;
    font-weight: bold
}

.shopping {
    float: left;
    padding: 3px 12px 0 0
    border: none;
}

.topblock2 p {
    line-height: 15px;
}

.topblock2 span {
    font-weight: normal;
}

.topblock2 strong {
    color: #3288A2
}

#about {
    width: 517px;
    padding: 0 0 0 5px;
    float: left;
    margin: -10px 0 0 0;
}

.tree {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #BABABA;
    padding: 0 0 3px 0;
}

.tree a {
    color: #4A4A4A;
    text-decoration: underline
}

.tree a:visited {
    text-decoration: underline
}

.tree a:hover {
    text-decoration: none
}

.photos {
    width: 227px;
    float: left;
    padding: 25px 17px 0 0
}

.moreph {
    display: block;
    background-image: url(/Template/images/morebg.gif);
    background-position: top left;
    background-repeat: no-repeat;
    width: 92px;
    line-height: 17px;
    color: #FFF;
    text-decoration: none;
    padding: 0 0 0 14px;
    margin: 0 0 20px 18px
}

.comments {
    background-image: url(/Template/images/bulb.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    padding: 0 0 5px 29px;
    margin: 0 0 0 18px;
    color: #0283DD;
    line-height: 25px;
    text-decoration: underline
}

.comments:visited {
    text-decoration: underline
}

.comments:hover {
    text-decoration: none
}

.description {
    width: 253px;
    float: left;
    padding: 25px 0 0 17px;
    position: relative
}

#about .description p {
    padding: 0 0 15px 0;
}

.description u {
    font-size: 12px;
    color: #4A4A4A;
    font-weight: bold
}

.price {
    position: absolute;
    top: 46px;
    right: 0px;
    color: #E27C0E;
    font-size: 14px;
    font-weight: bold
}

#features li {
    list-style-type: none;
    line-height: 17px;
    padding: 0 0 0 7px;
    width: 180px;
}

#features span {
    width: 150px;
    display: block;
    float: left;
}

#about button {
    background-image: url(/Template/images/add.gif);
    background-position: top left;
    background-repeat: no-repeat;
    border: 0px;
    float: left;
    font-weight: bold;
    width: 104px;
    font-family: Tahoma;
    font-size: 11px;
    color: #5B5B5B;
    margin: 21px 3px 0 0;
    padding: 4px 0 6px 0
}

.carts {
    padding: 21px 0 0 0;
    float: left
}

.row {
    font-size: 11px;
}

/*
table {
    width: 100%;
    border-collapse: collapse;
	font-size:14px;
    table-layout: auto

}
*/
/*
TD, TH {
    border: 1px solid black;
    text-align: center;
}*/
table {
    /*width: 100%;*/
    border: 1px solid #69c;
    table-layout: auto
}

th {
    font-weight: normal;
    color: #039;
    border-bottom: 1px dashed #69c;
    padding: 12px 17px;
}

td {
    color: #669;
    padding: 7px 17px;
}

tr:hover td {
    background: #ccddff;
}

#pagination {
    margin: 0 auto;
    width: 20%;
    font-size: 13px;
}

#button {
    width: 69px;
    /*border-width: none;*/
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.registration {
    /*background-image:url(/Template/images/block2bg.gif);*/
    background-position: top left;
    background-repeat: no-repeat;
    width: 179px;
    height: 100px;
    padding: 15px 1px 0 24px;
    float: left;
    font-family: Tahoma;
    font-size: 11 xp;
    color: #5B5B5B;
    font-weight: bold
}

.red {
    color: red;
}